<nav class="bg">
    <ul class="nav navbar-right">

        <div class="dropdown">
            <a >{{currentUser.username}}<span class="caret"></span></a>
            <div class="dropdown-content">
                <a [routerLink]="['/login']">Logout</a>

            </div>
        </div>
    </ul>
</nav>
<div class="container-fluid top">

    <div class="sidebar"><h5>LAYERS</h5>
      <hr>
      <div class="tile">
         <div class="ti">
           <label>Tile Layer</label>
           <input type="button" id="myCheck" value="off" (click)="toggle1()">
           <span class="slider round"></span>
         </div>
         <div class="ti">
           <label>Raster Layer</label>
           <input type="button" id="myCheck1" value="off" (click)="toggle2()">
           <!-- <input type="checkbox" id="rasterCheck" (change)="toggle2('map')"> -->
           <span class="slider round"></span>
         </div>
      </div>
    </div>
    <div class="portfolio" >
      <div id="map" class="map"></div>
      <div id="map1" class="map" *ngIf="!mapHide"></div>
    </div>
</div>
